In [64]:
b = 'Python is working in Jupyter'
print(f'The value of b is {b}')

The value of b is Python is working in Jupyter

In [4]:
print("Hello, World!")

Hello, World!

In [5]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [9]:
x = 5
y = "Hello, World!" 
print(x,y)

5 Hello, World!

In [10]:
print("Hello World!", end=" ")
print("I will print on the same line.")

Hello World! I will print on the same line.

In [11]:
print(3 + 3)
print(2 * 5)

6
10

In [14]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0 
print(x,y,z)

3 3 3.0

In [16]:
a = 4
A = "Sally" 
print(a,A)

4 Sally

In [19]:
myvar = "John"
print(myvar)

John

In [21]:
x, y, z = ("Orange", "Banana", "Cherry")
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [22]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [23]:
x = "Python is awesome"
print(x)

Python is awesome

In [24]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [65]:
x = "awesome"  

def myfunc():
    x = "fantastic"  
    print(x)  

myfunc()  

print(x)

fantastic
awesome

In [25]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [27]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [31]:
x = 1    
y = 2.8  
z = 1j  
print(type(x),(y),(z))

<class 'int'> 2.8 1j

In [32]:
x = float(1)     
y = float(2.8)   
z = float("3")   
w = float("4.2")  
print(x,y,z,w)

1.0 2.8 3.0 4.2

In [33]:
x = str("s1") 
y = str(2)    
z = str(3.0)  
print(x,y,z)

s1 2 3.0

In [34]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [37]:
b = "Hello, World!"
print(b[2:5])

llo

In [38]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [39]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [40]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [41]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [42]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [44]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [45]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [46]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [48]:
txt = "We are the so-called \"Vikings\" from the north." 
print(txt)

We are the so-called "Vikings" from the north.

In [54]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [55]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [1]:
x = 5 
print(type(x))

<class 'int'>

In [2]:
x = 1   
y = 2.8  
z = 1j 
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [4]:
x = int(1)   
y = float(2.8) 
z = str("3") 
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
x = (1)   
y = (2.8) 
z = ("3") 
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>